@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

:root {
}

/* daftar color */
.bg-cup-gray {
    background-color: #d0d0d0;
}
.bg-coffee-black {
    background-color: #0a0405;
}
.bg-coffee-brown {
    background-color: #a48656;
}
.bg-latte-beige {
    background-color: #e9dbc8;
}
.bg-caramel {
    background-color: #c19a6b;
}
.bg-mocha {
    background-color: #3e2723;
}
.bg-foam-white {
    background-color: #f8f5f2;
}

.cl-cup-gray {
    color: #d0d0d0;
}
.cl-coffee-black {
    color: #0a0405;
}
.cl-coffee-brown {
    color: #a48656;
}
.cl-latte-beige {
    color: #e9dbc8;
}
.cl-caramel {
    color: #c19a6b;
}
.cd-mocha {
    color: #3e2723;
}
.cl-foam-white {
    color: #f8f5f2;
}

/* Dashboard start */
.mask-botton {
    background-image: url("../../public/img/bg-coffe.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
    );
}
/* Dashboard and */

/* Table Reservation start */
.custom-card {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1); /* tipis */
    backdrop-filter: blur(6px); /* efek blur latar belakang */
    background-color: rgba(255, 255, 255, 0.7); /* transparansi */
    transition: all 0.3s ease;
}

/* Opsional: efek hover */
.custom-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Table Reservation and */

/* Store start*/
#main-menu {
    display: none;

    gap: 1rem;
    transition: transform 0.3s cubic-bezier(0.4, 2, 0.6, 1), opacity 0.3s;
    transform: translateY(-30px);
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 6.5rem;
    pointer-events: none;
}

#main-menu.menu-mobile-show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
/* store and */

/* Tools Boostrap start */

.tooltip-inner {
    /* Ubah warna isi tooltip */
    background-color: #a48656;
    color: 0a0405;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    /* Ubah warna panah tooltip (arah bawah) */
    border-top-color: #3e2723;
}

/* Tools Boostrap and */

/* Tampilkan menu otomatis di layar besar */
@media (min-width: 992px) {
    /* store start */
    #main-menu {
        transform: none !important;
        opacity: 1 !important;
        pointer-events: auto !important;
    }
    /* store and */
}

@media (min-width: 768px) {
    /* table reservation start */
    .position-md-fixed {
        position: fixed !important;
    }

    /* table reservation and */
}
